/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Arvo", serif;
  --font-code: "Roboto", monospace;
  --bg-color: #00163f;
  --bg-color-transparent: #00163f80;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #be7efe;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background-color: var(--bg-color);
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* NOT CONNECTED */
.not-connected {
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 auto 0 35vw;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
}

.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.8;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* CARD */

.card {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  padding: 5rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}

.total-price-container p {
  color: var(--accent-color);
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}

/* SLIDDER */

.splide {
  position: absolute;
  top: 90px;
  left: 5rem;
  z-index: -1;
}

.splide__slide {
  border: var(--accent-color) solid;
  border-width: 5px 10px;
}

.splide__slide img {
  width: 100%;
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 0.5rem 1rem;
    max-width: 8rem;
  }
  .not-connected {
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    padding: 2rem;
    margin: 0 auto;
  }
  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
