html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: $sizeMed;
    text-align: center;
    line-height: 1.3;
    background-color: $lightOrange;

    &.no-scroll{
        overflow: hidden;
    }
}

a, a:visited,:hover {
    text-decoration: none;
}

// a, a:visited {
//     color: $black;
// }

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-sa {
        justify-content: space-around;
    }
    &-jc-se {
        justify-content: space-evenly;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

//Visability
.hide-for-mobile {
    @include breakpoint-down(med){display: none;}
}

.hide-for-desktop {
    @include breakpoint-up(large){display: none;}
}

h1{
    margin-bottom: 0px;
    font-family: 'Michroma', sans-serif;
    font-size: $size3XLarge;
    line-height: 1.15;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2{
    font-family: 'Koulen';
    font-size: $size3XLarge;
    letter-spacing: 3px;
    color: $red;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

h3{
    font-family: 'Koulen';
    font-size: $sizeXLarge;
    letter-spacing: 2px;
    color: $black;
}

h4{
    margin-top: 1rem;
    font-size: $sizeMed;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

h5 {
    font-size: $sizeXSmall;
    color: $yellow;
}


.m{
    &-ts-s {
        margin-top: 40px;
    }
    &-ts-m {
        margin-top: 80px;
    }
    &-ts-l {
        margin-top: 160px;
    }
}

.y{
    color: $yellow;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $yellow;
}

.space{
    &-s{
        padding: 1rem;
    }
    &-m{
        padding: 2rem;
    }
    &-l{
        padding: 4rem;
    }
}