//Colors
$lightOrange: #FDF4D7;
$lightYellow: #FAF3BA;
$brown: #924f1f;
$strokeColor: #EABC9B;
$yellow: #EAE45B;
$red: #F14B4B;
$white: #FFFFFF;
$black: #000000;
$grey: #393939;

//Font-size
$sizeXSmall: 0.675rem;
$sizeSmall: 0.875rem;
$sizeMed: 0.9rem;
$sizeLarge: 1rem;
$sizeXLarge: 1.25rem;
$sizeXXLarge: 2rem;
$size3XLarge: 3rem;
$size4XLarge: 4rem;
$size5XLarge: 5rem;